<section class="home-banner" parallax [config]="{parallaxInitVal: -50, parallaxRatio: .5}">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 offset-sm-1">
				<div class="banner-content">
					<h1>Made for Designers</h1>
					<p>
						Create your online portfolio in minutes with the professionally and lovingly designed REEN
					</p>
					<p>
						website template. Customize your site with versatile and easy to use features.
					</p>
					<a href="javascript:void(0);" class="green-btn">Get started now</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="responsive-container equal-padding" parallax [config]="{parallaxInitVal: -50, parallaxRatio: .5}">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2">
				<div class="title-container">
					<h2>
					Beautiful. Clean. Responsive.
					</h2>
					<p>
						REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.
					</p>
				</div>
			</div>
		</div>
		<div class="responsive-details">
			<div class="row">
				<div class="col-sm-4">
					<div class="media">
						<img class="align-self-start" src="assets/images/icons/heart.png" alt="Passion">
						<div class="media-body">
							<h5>Passion</h5>
							<p>
								Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="media">
						<img class="align-self-start" src="assets/images/icons/creativity.png" alt="Creativity">
						<div class="media-body">
							<h5>Creativity</h5>
							<p>
								Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="media">
						<img class="align-self-start" src="assets/images/icons/star.png" alt="Quality">
						<div class="media-body">
							<h5>Quality</h5>
							<p>
								Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="work-container equal-padding" parallax [config]="{parallaxInitVal: -50, parallaxRatio: .5}">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2">
				<div class="title-container">
					<h2>
					Check out our latest works
					</h2>
					<p>
						Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.
					</p>
				</div>
			</div>
		</div>
		<div class="work-details">
			<div class="row">
				<div class="col-sm-6">
					<div class="content-wrapper">
						<div class="img-effect">
							<img src="assets/images/work/work1.jpg" alt="work1">
						</div>
						<div class="content-title">
							<h3>Grand Motel gets an identity brushup</h3>
							<p>Identity</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="content-wrapper">
						<div class="img-effect">
							<img src="assets/images/work/work2.jpg" alt="work2">
						</div>
						<div class="content-title">
							<h3>Fresh branding for a creative startup</h3>
							<p>Identity</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="work-slider">
			<div class="owl-carousel owl-theme">
				<div class="item">
					<div class="img-effect">
						<a href="javascript:void(0);">
							<img src="assets/images/work/c1.jpg" alt="c1">
						</a>
					</div>
				</div>
				<div class="item">
					<div class="img-effect">
						<a href="javascript:void(0);">
							<img src="assets/images/work/c2.jpg" alt="c2">
						</a>
					</div>
				</div>
				<div class="item">
					<div class="img-effect">
						<a href="javascript:void(0);">
							<img src="assets/images/work/c3.jpg" alt="c3">
						</a>
					</div>
				</div>
				<div class="item">
					<div class="img-effect">
						<a href="javascript:void(0);">
							<img src="assets/images/work/c4.jpg" alt="c4">
						</a>
					</div>
				</div>
				<div class="item">
					<div class="img-effect">
						<a href="javascript:void(0);">
							<img src="assets/images/work/c1.jpg" alt="c1">
						</a>
					</div>
				</div>
				<div class="item">
					<div class="img-effect">
						<a href="javascript:void(0);">
							<img src="assets/images/work/c2.jpg" alt="c2">
						</a>
					</div>
				</div>
				<div class="item">
					<div class="img-effect">
						<a href="javascript:void(0);">
							<img src="assets/images/work/c3.jpg" alt="c3">
						</a>
					</div>
				</div>
				<div class="item">
					<div class="img-effect">
						<a href="javascript:void(0);">
							<img src="assets/images/work/c4.jpg" alt="c4">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="with-us-container equal-padding" parallax [config]="{parallaxInitVal: -50, parallaxRatio: .5}">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2">
				<div class="title-container">
					<h2>
					Want to work with us?

					</h2>
					<p>
						Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.
					</p>
					<a href="javascript:void(0);" class="green-btn">Get in touch</a>
				</div>
			</div>
		</div>
	</div>
</section>
