$primary-color: #506a85;
$secondary-color: #00bc9c;
$header-color: #f5f7fa;
$black-color: #000000;
$white-color: #ffffff;
$light-color: #a3b1bf;
$text-color: #73879c;
$dark-color: #333333;
$font-light: 300;
$font-regular: 400;
$font-medium: 600;
$font-bold: 700;
