$primary-color: #506a85;
$secondary-color: #00bc9c;
$header-color: #f5f7fa;
$black-color: #000000;
$white-color: #ffffff;
$light-color: #a3b1bf;
$text-color: #73879c;
$dark-color: #333333;
$font-light: 300;
$font-regular: 400;
$font-medium: 600;
$font-bold: 700;
$bg-color: #f2f5f7;
$footer-color: #2f4052;
$sub-footer-color: #283645;
$input-color: #4e5c6c;
