<!-- top header stands-->
<section class="top-header">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-4">
        <aside>
          <ul class="connect-us">
            <li>
              <a href="mailto:info@reen.com"><fa name="envelope"></fa>info@reen.com</a>
            </li>
            <li>
              <a href="tel:+00 (123) 456 78 90"><fa name="phone"></fa>+00 (123) 456 78 90</a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-4">
        <aside>
          <ul class="social-feeds">
            <li><a href="javascript:void(0);"><fa name="facebook"></fa></a></li>
            <li><a href="javascript:void(0);"><fa name="google-plus"></fa></a></li>
            <li><a href="javascript:void(0);"><fa name="twitter"></fa></a></li>
            <li><a href="javascript:void(0);"><fa name="behance"></fa></a></li>
            <li><a href="javascript:void(0);"><fa name="dribbble"></fa></a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- top header ends-->
<!-- header starts-->
<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobilemenu" aria-controls="mobilemenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mobilemenu">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/about">About <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/coming-soon">Services <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/coming-soon">Portfolio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/coming-soon">Contact <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/coming-soon">Coming soon <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- header ends-->
<router-outlet></router-outlet>
<!-- footer starts -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col"><p>&copy; 2018</p></div>
      <div class="col text-center"><p>All rights reserved</p></div>
      <div class="col text-right"><p>Develop By Paresh</p></div>
    </div>
  </div>
</footer>
<!-- footer ends -->